#about {
  background-color: #2576c9;
  color: white;
}

.about-content {
  position: absolute;
  top: 5vh;
  left: 10vw;
  width: 80vw;
}

.about-content header {
  font-size: 5vw;
  font-weight: 700;
  text-align: center;
}

.about-content-text {
  font-size: 2.3vh;
  font-weight: 300;
  margin-bottom: 1vh;
  text-align: justify;
}

#article-details {
  margin: 0;
}

#about .scroll-box {
  margin-top: 2vh;
}
.center {
  margin-right: auto;
  margin-left: auto;
}

.regulations-box {
  width: 80vw;
  overflow: hidden;
  width: 80vw;
  height: 20vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.regulation {
  float: left;
  width: 15vw;
  margin: 1vw;
  text-align: center;
}

.regulation-text {
  font-weight: 700;
  font-size: 1.8vh;
  text-align: center;
}

.regulations-center {
  margin-right: auto;
  margin-left: auto;
}

.fa-gift, .fa-clipboard-list, .fa-money-bill-alt, .fa-users {
  display: block;
  color: #ffffff;
  font-size: 8vh;
}

@media screen and (max-width: 820px) {

    #swinnis-logo-img {
      width: 13vh;
    }

    .about-content header {
      font-size: 4vh;
      margin-bottom: 2vh;
    }

    .about-content-text {
      font-size: 1.9vh;
      margin-top: 0;
    }

    .regulation {
      width: 32vw;
    }

    .regulations-box {
      margin: 0;
      height: 22.5vh;
    }

    .regulation-text {
      font-size: 1.8vh;
      margin: 1vw;
    }

    .fa-gift, .fa-clipboard-list, .fa-money-bill-alt, .fa-users {
      font-size: 5vh;
    }

    #about .scroll-box {
      margin-top: -5vh;
    }


  }
