#tournament {
  color: white;
  background-color: #27245e;
  text-align: center;
}

#tournament .logo {
  position: absolute;
  top: 5vh;
  left: 44vw;
  margin: 0;
}

#tournament #swinnis-logo-img {
  width: 8vw;
}

.ann-call-to-action {
  font-size: 2.3vw;
  font-weight: 400;
}

.ann-heading-box {
  border :1px solid rgb(252, 113, 32);
  padding: 1em;
  margin-bottom: 3vh;
  margin-top: 18vh;
  width: 60vw;
}

.ann-heading {
  font-size: 4vw;
  font-weight: 700;
}

.ann-sub-heading {
  margin: 2vh;
  font-size: 2.7vh;
  font-weight: 700;
}

.ann-sub-heading-text {
  margin: 2vh;
  font-size: 2.4vh;
  font-weight: 300;
}

.register-container {
  background-color: #d0d1d4;
  height: 36vh;
  margin-top: 6vh;
  padding: 2vh;
}

.register-container p {
  color: #27245e;
  font-weight: 400;
  font-size: 2vh;
}

#tournament input {
  width: 35vw;
  height: 4.5vh;
  margin: .5vw;
  border: 0;
  border-radius: 30px;
  padding-left: 15px;
  font-size: 1.7vh;
}

#tournament footer {
  height: 10vh;
  background-color: white;
}

.register-btn {
  border: 0;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 2vh;
  font-weight: 400;
  background: #8bb6fb;
  padding: 13px 31px 14px 27px;
  text-decoration: none;
}

.captcha {
  display: block;
  width: 15vw;
  height: 8vh;
  border: 1px solid white;
  margin: 1vh;
}

.register-btn:hover {
  background: #ffffff;
  text-decoration: none;
  color: #27245e;
  cursor: pointer;
}
