#tournament {
  color: white;
  background-color: #27245e;
  text-align: center;
}

#tournament .logo  {
  position: absolute;
  top: 5vh;
  left: 44vw;
  margin: 0;
}

#tournament .logo p {
  font-size: 2vh;
}

#tournament #swinnis-logo-img {
  width: 7vw;
}

.ann-call-to-action {
  font-size: 2.3vw;
  font-weight: 400;
}

.ann-heading-box {
  border :1px solid rgb(252, 113, 32);
  padding: 1em;
  margin-bottom: 3vh;
  margin-top: 18vh;
  width: 60vw;
}

.ann-heading {
  font-size: 4vw;
  font-weight: 700;
}

.ann-sub-heading {
  margin: 2vh;
  font-size: 2.7vh;
  font-weight: 700;
}

.ann-sub-heading-text {
  margin: 2vh;
  font-size: 2.2vh;
  font-weight: 300;
}

.ann-date {
  font-size: 2.2vh;
  font-weight: 700;
}

.register-container {
  background-color: #d0d1d4;
  height: 43vh;
  margin-top: 6vh;
  padding: 2vh;
}

.register-container p {
  color: #27245e;
  font-weight: 400;
  font-size: 2vh;
}

#tournament input {
  width: 35vw;
  height: 4.5vh;
  margin: .5vw;
  border: 0;
  border-radius: 25px;
  padding-left: 15px;
  font-size: 1.7vh;
}

#tournament select {
  width: 36vw;
  height: 4.8vh;
  margin: .5vw;
  background: white;
  padding: 2px 21px;
  border: none;
  color: #27245e;
  border-radius: 25px;
  -webkit-appearance: none;
}

#tournament footer {
  height: 10vh;
  background-color: white;
  text-align: left;
}

.footer-logo-container, .contact-container {
  width: 49.4vw;
  text-align: center;
  color: rgb(32, 32, 32);
  font-weight: 300;
  font-size: 2vh;
  display: inline-block;
  margin: 0;
}

.contact-container {
  font-size: 3vh;
}

.contact-container p {
  font-size: 2vh;
  margin: 0;
}

.footer-logo {
  height: 6vh;
  margin-top: 2vh;
}

.register-btn {
  border: 0;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 2vh;
  font-weight: 400;
  background: #8bb6fb;
  padding: 13px 31px 14px 27px;
  text-decoration: none;
}

.captcha {
  display: block;
  width: 15vw;
  height: 8vh;
  border: 1px solid white;
  margin: 1vh;
}

.register-btn:hover {
  background: #ffffff;
  text-decoration: none;
  color: #27245e;
  cursor: pointer;
}

.fa-star {
  position: absolute;
  color: yellow;
  font-size: 2vh;
  animation-name: slow-blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.star1 {
  color: #d85615;
  top: 8vh;
  left: 15vh;
  animation-delay: 1s;
}

.star2 {
  color: #a5d815;
  top: 50vh;
  left: 90vw;
}

.star3 {
  color: #a5d815;
  top: 5vh;
  left: 70vw;
  animation-delay: 1s;
  animation-duration: 3s;
}

.star4 {
  color: #d85615;
  top: 25vh;
  left: 87vw;
  animation-delay: 1s;
}

.star5 {
  color: rgb(76, 184, 235);
  top: 40vh;
  left: 5vw;
  animation-duration: 3s;
}

.star6 {
  color: rgb(76, 184, 235);
  top: 13vh;
  left: 35vw;
}

@keyframes slow-blink {
  0% {opacity: 1;}
  50% {opacity: .3;}
  100% {opacity: 1;}
}
