#landing {
  color: white;
  background: #569952 url(../assets/intro-lineart-bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo {
  text-align: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.logo p {
  font-weight: 400;
  font-size: 2.4vh;
  margin: 0;
}

#swinnis-logo-img {
  width: 18vh;
  margin-bottom: 2vh;
}

.intro-heading {
  font-size: 6vw;
  font-weight: 700;
  text-align: center;
  padding: .5em;
  margin: auto;
  border: 1px solid #ecff4a;
  width: 77vw;
}

.intro-subheading {
  font-size: 3.5vh;
  text-align: center;
  font-weight: 700;
  margin-top: 5vh;
}

.intro-subheading-text {
  font-size: 2.4vh;
  text-align: center;
  margin-top: 4vh;
  font-weight: 300;
}

.scroll-box {
  text-align: center;
  margin-top: 10vh;
}

.scroll-text {
  font-size: 3vh;
  font-weight: 400;
  margin-top: 5.5vh;
}

.down-arrow-btn {
  font-size: 5vh;
  font-weight: 300;
  margin-top: 1vh;
  animation-name: color-blink;
  animation-duration: 3s;
  animation-iteration-count: infinite;

}

@keyframes color-blink {
  0% {color: rgb(255, 167, 52); opacity: 1}
  25% {color: rgb(0, 119, 255); opacity: 0}
  50% {color: rgb(0, 255, 106); opacity: 1}
  75% {color: rgb(130, 52, 255); opacity: 0}
  100% {color: rgb(252, 81, 81); opacity: 1}
}
